* {
    --lido-color-primary: #000;
    --lido-color-primary-72: #131217b8;
    --lido-color-primary-50: #13121780;
    --lido-color-primary-32: #13121752;
    --lido-color-primary-20: #13121733;
    --lido-color-primary-8: #13121714;
    --lido-color-primary-6: #1312170f;
    --lido-color-primary-5: #1312170d;
    --lido-color-secondary: #fff;
    --lido-color-secondary-6: #0000000f;
    --lido-color-secondary-30: #fff9f94d;
    --lido-color-secondary-60: #fff9;
    --lido-color-secondary-72: #ffffffb8;
    --lido-color-accent-light-ocean: #0085ff33;
    --lido-color-accent-ocean: #0085ff;
    --lido-color-accent-ocean-60: rgba(139, 199, 255, .6);
    --lido-color-accent-sky: #00a3ff;
    --lido-color-accent-blue: #3a9cf8;
    --lido-color-light-blue: #80c0fb;
    --lido-color-accent-coral: #ff8e76;
    --lido-color-accent-sun: #ffc225;
    --lido-color-accent-light-coral: #ff8e7633;
    --lido-color-accent-berry: #d74758;
    --lido-color-accent-light-berry: #d7475833;
    --lido-color-accent-leaf: #36e6a6;
    --lido-color-accent-light-leaf: #36e6a633;
    --lido-color-background-dark: #4e4f67;
    background-color: #fff9f9
}

/* rgb(0, 163, 255) */